*~
*.d
*.so
*.pcm
*.ipynb_checkpoints
.git
out_input_spring2019_first5run.pdf
out_input_spring2019_first5run.root
polar.C
out_input_skim13_spring2019.pdf
out_input_skim13_spring2019.root
tests.pdf
out_input_skim13_spring2019_local.pdf
out_input_skim13_spring2019_local.root
LTCCefficiency_tree_input_skim13_spring2019_local.root
input_skim13_spring2019_local.dat
out1D_input_skim13_spring2019_local.pdf
out2D_input_skim13_spring2019_local.pdf